.headerr {
    color: white;
    background-image: linear-gradient(to right, #274cb1 , #7b97e6);
}
.head-prof{
    color: rgb(33, 69, 110);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.btn-custom{
    width: 120px;
    margin: 20px;
    margin-left: 0;
}
.sc-table::-webkit-scrollbar {
    height: 6px;
  }

.sc-table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
}

.sc-table::-webkit-scrollbar-thumb {
    background-color: rgb(55, 62, 165);
    border-radius: 10px ;
}
.list .alamat p{
    margin: 0;
    padding: 0;
    width: 25   0px;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.list .alamat .al{
    font-size: 14px;
}