.headerr {
    color: white;
    background-image: linear-gradient(to right, #274cb1 , #7b97e6);
}
.head-prof{
    color: rgb(33, 69, 110);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.btn-custom{
    width: 120px;
    margin: 20px;
    margin-left: 0;
}
.sc-table::-webkit-scrollbar {
    height: 10px;
  }

.sc-table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
}

.sc-table::-webkit-scrollbar-thumb {
    background-color: rgb(75, 84, 204);
}